.icon-section {
    width: 75%;
    background-color: rgba(0, 0, 0, 0.050);
    top: 25vh;
    right: 0;
    position: absolute;
    box-sizing: border-box;
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}